# latex
/doc/3DFEM_manual.synctex.gz
/doc/3DFEM_manual.aux
/doc/3DFEM_manual.out
/doc/3DFEM_manual.toc
/doc/3DFEM_manual.log

# animations and images
/3DFEM/animations
/3DFEM/images

# test script file
/3DFEM/main.py
